* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.sharp {
  color: #fff;
  opacity: .6;
  transition: .2s;
  font-size: 30px;
  font-weight: 800;
  margin-right: 10px;
}

.sharp:hover {
  opacity: 1;
}